{% import "_includes/forms" as forms %}
<form id="code-form" method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {#<input type="hidden" name="action" value="/phpstorm-craft-workshop/compiler/submit">#}
    {{ forms.textArea({
        label: 'Code',
        id: 'code',
        name: 'code',
        required: true,
        first: true,
        rows: 10
    }) }}
    <input id="btn-eval" type="submit" class="btn submit" value="{{ 'Evaluate'|t('app') }}">
    <p><label id="lbl-result"></label></p>
</form>
